<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Auth</title>
</head>
<body>
  <h1>Bienvenido a mi registro y login</h1>

  <a href="/insertUser">Registrarse</a>
  <a href="/checkUser">Iniciar Sesion</a>

  <!-- 
    <% if (Users) { %>
      <% Users.forEach(function(user, index){ %>
        <p>Usuario <%=index+1%></p>
        <p>ID: <%=user.id%></p>
        <p>Nombre: <%=user.nombre%></p>
        <p>email: <%=user.email%></p>
        <p>Contraseña: <%=user.contraseña%></p>
      <% }); %>
    <% } %>
   -->  
</body>
</html>