extends layout

block content
  script(src="") 
  h1= title
  p Welcome to #{title}
  a(href="/insertUser") insertar un usuario 
  ul 
  if (Users)
   each user, i in Users
      | Usuario #{i+1}
      ul 
        li 
        | ID: #{user.id}
        li
        | Nombre: #{user.nombre}
        button(onclick='something()') editar
        li
        | Apellidos: #{user.apellidos}
        li 
        | Telefono: #{user.telefono}